body {
    padding: 0; 
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: 'sans-serif';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 68px);
    padding: 20px;
    background-color: #ecf0f3;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #fff,
                      5px 5px 12px rgba(0, 0, 0, .16);
    text-align: center;
}

input {
    grid-column: span 4;
    border: none;
    height: 70px; 
    width: 260px;
    font-size: 50px;
    text-align: right;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #fff,
                inset 5px 5px 12px rgba(0, 0, 0, .16);
    border-radius: 30px;
    padding-right: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: grey;
}

button {
    width: 48px;
    height: 48px;
    border: none;
    box-shadow: -5px -5px 12px #fff,
            5px 5px 12px rgba(0, 0, 0, .16);
    font-size: 16px;
    background-color: #ecf0f3;
    margin: 8px;
    border-radius: 50%;
    text-align: center;
}

.equal {
    width: 115px;
    border-radius: 40px;
}